:{$PORT:8080} {
    # Backend API & WebSockets
    handle /_event* {
        reverse_proxy 127.0.0.1:8000
    }
    handle /ping* {
        reverse_proxy 127.0.0.1:8000
    }
    handle /upload* {
        reverse_proxy 127.0.0.1:8000
    }

    # (Reflex sometimes uses /_upload instead of /upload depending on the version)
    handle /_upload* {
        reverse_proxy 127.0.0.1:8000
    }

    # React Frontend Static Files
    handle {
        root * /lemonade-stand/public
        try_files {path} {path}.html /404.html
        file_server
    }
}
