/* ***** SIDEBAR CONFIGURATIONS ***** */
.sidebar {
    border-right: 1px solid #eee;
}

[data-bs-theme="dark"] .sidebar {
    border-right: 1px solid #333;
}

/* Custom class for sidebar links */
.sidebar-link {
    text-decoration: none !important;
    color: inherit;
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.sidebar-link:hover {
    text-decoration: none !important;
    opacity: 0.7;
    color: #00d1b2;
}

/* ***** GENERAL LINKS ***** */
.general-link {
    text-decoration: none !important;
    color: rgb(0, 94, 255);
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.general-link:hover {
    text-decoration: none !important;
    opacity: 0.7;
    color: #00d1b2;
}

/* ***** TABLE DATA CONFIGURATIONS ****** */
[id$="data_table"] .shiny-data-frame {
    --shiny-datagrid-grid-header-bgcolor: #f8f9fa !important;
    --shiny-datagrid-grid-header-color: #212529 !important;
}

/* Dark Mode Overrides using the same wildcard */
[data-bs-theme="dark"] [id$="data_table"] {
    --shiny-datagrid-grid-header-bgcolor: #2d2d2d !important;
    --shiny-datagrid-grid-header-color: #00d1b2 !important;
    --shiny-datagrid-grid-border-color: #444 !important;
}

/* Header Text Styling */
[id$="data_table"] th {
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: inherit !important; /* Forces it to use the variable color */
}

/* Fix for the filter input boxes in Dark Mode */
[data-bs-theme="dark"] .shiny-data-frame input {
    background-color: #121212 !important;
    color: white !important;
    border: 1px solid #444 !important;
    border-radius: 4px;
}

/* Ensure the 'Date', 'Category' text labels are visible */
[data-bs-theme="dark"] .shiny-data-frame .grid-header-label {
    color: #00d1b2 !important;
}


/* ***** DATA DOWNLOAD BUTTON ***** */
.download-button {
    width: 120px;
    height: 30px;
    padding: 0 5px;
    margin-bottom: 0.5rem;

    /* Flexbox to center the text perfectly */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-color:#017387;
    border-style: solid;
    outline: none;
    background-color: #018773;
    color: #eee;
    border-radius: 7px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.download-button:hover {
    transform: translateY(-3px);
    background-color: #017387;
    color: #fff;
}

/* Light mode overrides */
[data-bs-theme="dark"] .download-button {
    background-color: #002d2b;
    color: #eee;
    border: 1px solid #018773;
}

[data-bs-theme="dark"] .download-button:hover {
    background-color: #494848;
    color: #fff;
    border: 1px solid #870101;
}



/* ***** NOTE DISPLAYS ***** */
.invalid-note {
    font-size: 0.75rem;
    font-style: italic;
    opacity: 0.8;
    color: #ff0000;
}
