/* || GENERAL STYLES */

@font-face {
    font-family: 'Harman Retro';
    src: url('fonts/harman-retro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: 'Harman Sans';
    src: url('fonts/harman-sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0020-007E;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'HarmanRetro', 'Harman Sans', Lucida Sans, serif;
    width: 100%;
}


/* || SITEWIDE */

/* Links */
.general-link {
    text-decoration: none !important;
    color: rgb(0, 94, 255);
    font-weight: 500;
    transition: opacity 0.2s ease;
}

.general-link:hover {
    text-decoration: none !important;
    opacity: 0.7;
    color: #00d1b2;
}

/* Notes */
.valid-note {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center !important;
    opacity: 0.8;
    color: #408301;
}

.invalid-note {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center !important;
    opacity: 0.8;
    color: #ff0000;
}

.disclaimer-note {
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 0;
    opacity: 0.8;
}

.checkbox-note {
    font-size: 0.85rem;
    font-style: italic;
    opacity: 0.9;
    color: #555555;
}

[data-bs-theme="dark"] .valid-note {
    color: #00ff0d !important;
}

[data-bs-theme="dark"] .disclaimer-note {
    color: #ffcc00 !important;
}

[data-bs-theme="dark"] .checkbox-note {
    color: #7b7b7b !important;
}

/* Buttons */
.task_button {
    border: none !important;
    outline: none !important;
    padding-top: 1rem;
    height: 1em;
    width: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-button {
    width: 120px;
    height: 30px;
    padding: 0 5px;
    margin-bottom: 0.5rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-color:#017387;
    border-style: solid;
    outline: none;
    background-color: #018773;
    color: #eee;
    border-radius: 7px;
    font-size: 0.8rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.25s ease-out;
}

.download-button:hover {
    transform: translateY(-3px);
    background-color: #017387;
    color: #fff;
}

[data-bs-theme="dark"] .download-button {
    background-color: #002d2b;
    color: #eee;
    border: 1px solid #018773;
}

[data-bs-theme="dark"] .download-button:hover {
    background-color: #494848;
    color: #fff;
    border: 1px solid #870101;
}


/* || MODALS */

.modal-content {
    border-radius: 25px !important;
    border: none;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* || SIDEBAR */

.sidebar {
    border-right: 1px solid #eee;
}

[data-bs-theme="dark"] .sidebar {
    border-right: 1px solid #333;
}

/* Links */
.sidebar-link {
    text-decoration: none !important;
    color: inherit;
    font-size: 0.875rem;
    font-weight: 500;
    transition: opacity 0.2s ease;
    display: flex;
}

.sidebar-link:hover {
    text-decoration: none !important;
    opacity: 0.7;
    color: #00d1b2;
}



/* || DATA TABLE */

[id$="data_table"] .shiny-data-frame {
    --shiny-datagrid-grid-header-bgcolor: #f8f9fa !important;
    --shiny-datagrid-grid-header-color: #212529 !important;
    --shiny-datagrid-font-size: 0.8rem !important;
}

[data-bs-theme="dark"] [id$="data_table"] {
    --shiny-datagrid-grid-header-bgcolor: #2d2d2d !important;
    --shiny-datagrid-grid-header-color: #00d1b2 !important;
    --shiny-datagrid-grid-border-color: #444 !important;
    --shiny-datagrid-font-size: 0.8rem !important;
}

/* Table header */
[id$="data_table"] th {
    font-weight: 800 !important;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: inherit !important;
}

[data-bs-theme="dark"] .shiny-data-frame .grid-header-label {
    color: #00d1b2 !important;
}

/* Filter input boxes */
[data-bs-theme="dark"] .shiny-data-frame input {
    background-color: #121212 !important;
    color: white !important;
    border: 1px solid #444 !important;
    border-radius: 4px;
}


/* || UTILITIES */

.items-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 10px;
}
