/* ***** SETTINGS CONFIGURATION (MODAL) ***** */
.modal-content {
    border-radius: 25px !important;
    border: none;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

/* Notes to the user */
.switch-note {
    font-size: 0.75rem;
    font-style: italic;
    margin-left: 0;
    opacity: 0.8;
}

/* Specific color for dark mode to ensure readability */
[data-bs-theme="dark"] .switch-note {
    color: #ffcc00 !important; /* A warning yellow for the disclaimer */
}
