/* CLEAN SHADOW BUTTON */
.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* BACK BUTTON */
#back-button {
    top: 280px;
    left: 50px;
    position: fixed;
    padding: 0.5em 2em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: #e1e505;
    background-color: #292929;
    outline: 1px solid #8c4800;
    transition: all 1000ms;
    font-size: 15px;
    overflow: hidden;
}

#back-button:hover {
    color: #000000;
    transform: scale(1.1);
    outline: 1px solid #292929;
    box-shadow: 0px 10px 10px -10px rgb(0, 140, 255);
}

#back-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #00957c;
    transform: skewX(45deg);
    z-index: -1;
    transition: width 1000ms;
}

#back-button:hover::before {
    width: 250%;
}
