/* INFO GRAPHS */
.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 50px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


/* IMAGE MENU */
.image-menu {
    height: auto;
    width: 1312px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 24px;
    border-radius: 12px;
    margin: -60px auto 0 auto;
    background-color: #222222;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    animation: fadeSlideIn 1.5s ease-out;
}

.image-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #17B897;
}

/* IMAGE BUTTON */
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    gap: 20px;
}

.image-option {
    width: 350px;
    height: 200px;
    transition: transform 0.3s ease;
    border-radius: 12px;
    display: block;
    margin: 0 auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.6s forwards;
}

.image-option:hover {
    transform: scale(1.1);
}

.image-option:nth-child(1) { animation-delay: 0.1s; }
.image-option:nth-child(2) { animation-delay: 0.3s; }
.image-option:nth-child(3) { animation-delay: 0.5s; }
.image-option:nth-child(4) { animation-delay: 0.7s; }


@keyframes fadeSlideIn {
    from { opacity: 0; transform: translateY(20px); }
    to   { opacity: 1; transform: translateY(0); }
}
